.visual-block-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.5fr 1fr;
  height: 100%;
  width: 100%;
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

section {
  margin-bottom: var(--section-spacing);
}

.top-left-cell, .bottom-left-cell, .bottom-right-cell {
  padding: 2rem;
  background-color: #FFFFFF;
}

.photo-block {
  background-color: #D4AF37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
}

.top-left-cell {
  border-right: 1px solid #D4AF37;
  border-bottom: 1px solid #D4AF37;
}

.photo-block {
  border-bottom: 1px solid #D4AF37;
}

.bottom-left-cell {
  border-right: 1px solid #D4AF37;
}
